.container {overflow: hidden;}
.contents .post-cont {padding: 10px;}

.post-cont table { table-layout:fixed}
.post-cont table th {
    text-align: center;
}

.contents .base-form {
    height: 120px;
    border: 0 none;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #e2e2e2;
}
.search {position: relative; line-height: 24px; /* 줄간격 */}
.search .library-name {width: 26%; position: absolute; top:0; left:0; }
.search .library-name li.show {display: block;}
.search .library-name li {display: none;}

.input-box {width: 73%; position: absolute; left: 27%; top:0; display: flex;}

.contents .base-form .search {
    display: flex;
    gap: 4px;
    margin-top: 5px;
}

.contents .base-form ul {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.contents .base-form li:first-child {
    border-top: 0 none;
}

.contents .base-form li.show {
    display: block;
}

.contents .base-form li {
    display: none;
    padding: 10px 20px 10px 15px;
}

.contents .base-form input {
    background-color: #fff;
}

.contents .base-form button {
    width: 30%;
    border: 1px solid #444;
    background-color: #444;
    color: #fff;
    font-weight: 500;
    border-radius: 3px;
    margin-left: 5px;
}


.post-cont .table-line td {padding: 10px 2px;}
.post-cont .table-list {
    white-space: nowrap; /* 줄바꿈 넘어가지 않게 /한 줄로 */
    overflow-x: hidden;  /* 넘친 부분 화면에 표시 x */
    text-overflow: ellipsis; /* 넘친 부분 ...으로 표현 */ 
}

.table-line .lb-cate { width: 70px; text-align: center;}
.paging-box {text-align: center;}
.paging-box a {padding: 0 5px;}

.table-line span {margin-right: 5px;}

@media screen and (max-width: 767px){
    .post-cont .blind-m {display: none;}
    .post-cont .press-date {width: 90px;}
    .table-line td.press-name {text-align: left;}
}


@media screen and (min-width: 768px){ 
    body { 
        font-size: 18px;
    }
    .table-line {text-align: center;}
    .post-cont .press-number {width: 100px;} 
    .post-cont .press-img {width: 100px;text-align: center;} 
    
    .post-cont .press-png {width: 100px; text-align: center;} 
    .post-cont .press-date{width: 100px; text-align: center; } 
    .post-cont .press-views {width: 100px;text-align: center; }
}


@media screen and (min-width: 1024px){ 
    
}
@media screen and (max-width: 1023px){
    .blind-t {  display: none;}
    .table-line {text-align: center;}
    .post-cont .press-number {width: 10%; text-align: center;} 
    .post-cont .press-img {width: 20%; text-align: center;} 
    .post-cont .press-name {width: 30%; text-align: center;}
    .post-cont .press-png {width: 10%; text-align: center;} 
    .post-cont .press-date{width: 20%; text-align: center; } 
    .post-cont .press-views {width: 10%;text-align: center; }
    .table-line td.press-name {text-align: left;}
    .post-cont .table-list {
        white-space: nowrap; /* 줄바꿈 넘어가지 않게 /한 줄로 */
        overflow-x: hidden;  /* 넘친 부분 화면에 표시 x */
        text-overflow: ellipsis; /* 넘친 부분 ...으로 표현 */ }
}

