.container {overflow: hidden;}
.contents .post-cont {padding: 10px;}

.post-cont table { table-layout:fixed}
.post-cont table th {
    text-align: center;
}

.post-cont .table-line td {padding: 10px 2px;}
.post-cont .table-list {
    white-space: nowrap; /* 줄바꿈 넘어가지 않게 /한 줄로 */
    overflow-x: hidden;  /* 넘친 부분 화면에 표시 x */
    text-overflow: ellipsis; /* 넘친 부분 ...으로 표현 */ 
}

.contents .library-tit {
    border: 1px solid #e2d2d2;
    padding: 4px 8px;
}
.search-box {margin-bottom: 30px; margin-top: 10px;}
.search-box .tit {
    border-radius: 2px;
    border: 1px solid #e2e2e2;
    padding: 4px 24px;
    text-align: left; 
    margin-right: 2px;
}
.search-box .input {
    width: 53%;
    padding: 6px 5px;
    border-radius: 2px;
    margin-right: 2px;
}
.search-box button {
    min-width: 70px;
    height: 36px;
    background-color: #000;
    color: white;
    text-align: center;
    align-items: center;
    border-radius: 2px;
    font-size: 16px;
}
.paging-box {text-align: center;}
.paging-box a {padding: 0 5px;}

@media screen and (max-width: 767px){
.post-cont .blind-m {display: none;}
.post-cont .date {width: 80px;}
}
.contents li {display: none;}
.contents li.show {display: block;}
.search-box li {display: none;}
.search-box li.show {display: block;}
.search-box {
    display: flex;
    gap: 4px;
    align-items: center;

}

.table-line span {margin-right: 5px;}
.table-line .date01 {font-size: 14px;}


