.section-grop {padding: 30px 0;}
.main-area {margin-bottom: 20px;}
.plus-btn {
    background-color: rgba(255, 255, 255, .8);
    border-radius: 50%;
    border: 1px solid #6a6a6a;
    width: 35px;
    height: 35px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.big-box {border-radius: 10px; overflow: hidden; box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);}
.main-txt {
    font-size: 14px;
    color:#464646;
}

.btn-box {
    display: flex;
    margin-bottom: 20px; 
}

.btn-box p { width: 50%;}
.last {margin-left: 12px;}

.btn-box a {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    height: 50px; 
    padding: 15px 0;
    color: #232323;
    text-align: center;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, .1);
    border-radius: 10px;
    margin-top: 10px;
    background-color: #b01c1c;
}
.tit-box {
    font-size: 18px;
    color: #fff;
    height: 50px;
    padding: 10px 20px;
    background-color: #c83156;
}

.desc {padding: 20px 30px;}

.seatbl tbody tr:first-child th, .seatbl tbody tr:first-child td {
    padding-top: 15px;
}
.seatbl thead tr th {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.ta-l,.ta-l01,.ta-l02,.ta-l03,.ta-l04 {font-weight: 500;}
.ta-l20 {padding-right: 5px;}
.seatbl .ta-l21,.ta-l22 {color:#646464; }
.seatbl .ta-l23 {color: #e82929;}
.seatbl .ta-l24 {color: #1b30ff;}




/* 문화행사 */
#main .tit-main {
    font-size: 28px;
    font-weight: 600;
    padding-top: 30px;
}
#main ul {display: flex; padding: 30px 0 30px;}

#main ul li a {
    display: inline-block;
    height: 32px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 16px;
    margin-right: 10px;
    font-size: 16px;
}

#main ul .culture {background-color: #c83156;}
#main ul .vacation {background-color: #464646;}
.tit-main {position: relative;}



.event .event-box .event-sj,.event-ing {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 40px;
    min-width: 80px;
    font-size: 14px;
    padding: 0 5px;
    margin-right: 5px;
}

.event .event-box .event-sj {background-color: #1b6eab;}
.event .event-box .event-ing  {background-color: #e13e3f;}
.event .event-box .before {background-color: #5784ec;}
.event .event-box .event-ing.end01 { background-color: #8e9297;}
.event .event-box .event-ing.end {font-size: 13px; background-color: #5ba701; line-height: 1;}

.event {display: flex; overflow: hidden; }

.event .event-box {
    width: 235px;
    border: 1px solid #e2e2e2;
    padding: 20px;
    flex-shrink: 0;
    margin-left: 20px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, .2);
}
.event .event-box:first-child {margin: 0 ;}

.event-box .event-title {
    margin: 20px 0;
    font-size: 16px; 
    font-weight: 500;
    color: #000;
    overflow: hidden;
    display: -webkit-box; /* 웹킷 기반 브라우저용 레이아웃 방식 */
    -webkit-box-orient: vertical; /* 박스 방향을 세로로 설정 */
    -webkit-line-clamp: 2; /* 웹킷 방식 줄 수 제한 */
}

.event-box .item-info {
    color: #646464;
}

.event-box .event-period {
    line-height: 1.1;
    display: flex;
    align-items: center;
}

.event-box .target {margin-top: 5px;}
.item-info .stand-by{margin-left: 10px;}

@media screen and (min-width: 500px){
}


@media screen and (min-width: 768px){ 
    body { 
    }
    .event .event-box {width: 314px;}
    .event-box .event-title {font-size: 20px;}
    .item-info {font-size: 17px;}
    .seatbl tbody tr td {font-size: 18px; text-align: center;}
    .seatbl th {text-align: center;}
    .seatbl .ta-l, tbody .ta-l20 {text-align: left;}
}

@media screen and (min-width: 1024px){ 
    body { 

    }
    .event .event-box {width: 332px;}
    .ta-l20 {padding-right: 5px;}
}
